<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Agendamento</h1>
  <form>
    <label for="data">Data:</label>
    <input type="date" id="data" name="data">
    <label for="seletor1">Seletor 1:</label>
    <select id="seletor1" name="seletor1">
      <option value="opcao1">Opção 1</option>
      <option value="opcao2">Opção 2</option>
      <option value="opcao3">Opção 3</option>
      <option value="opcao4">Opção 4</option>
      <option value="opcao5">Opção 5</option>
    </select>
    <label for="seletor2">Seletor 2:</label>
    <select id="seletor2" name="seletor2">
      <option value="opcao1">Opção 1</option>
      <option value="opcao2">Opção 2</option>
      <option value="opcao3">Opção 3</option>
      <option value="opcao4">Opção 4</option>
      <option value="opcao5">Opção 5</option>
    </select>
    <label for="checkBox1">
      <input type="checkbox" id="checkBox1" name="checkBox1">Almoço
      <select id="seletor3" name="seletor3">
        <option value="opcao1">Opção 1</option>
        <option value="opcao2">Opção 2</option>
        <option value="opcao3">Opção 3</option>
        <option value="opcao4">Opção 4</option>
        <option value="opcao5">Opção 5</option>
      </select>  
    </label>
    <label for="checkBox2">
      <input type="checkbox" id="checkBox2" name="checkBox2">Receptivo
    </label>
    <label for="observacao">Observação:</label>
    <textarea id="observacao" name="observacao" rows="5" maxlength="1000"></textarea>
    <input type="submit" value="Agendar">
  </form>
  <h2>Resultado do Agendamento:</h2>
  <div id="resultado"></div>
</body>
</html>
